{% extends 'admin/base.html.twig' %}
{% block title %}Nouvelle Questions{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.level) }}
        {{ form_row(form.description) }}
        <ul class="options " data-prototype="{{ form_widget(form.answerchoices.vars.prototype)|e('html_attr') }}">
            {% for option in form.answerchoices %}
                <li>{{ form_row(option) }}</li>
            {% endfor %}
        </ul>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/js/newQ.js') }}"></script>
{% endblock %}